body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	text-align: center !important;
	background-color: #4A4E62;
	color: #333;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form__wrapper {
	width: 25em;
	padding: 2em;
	box-shadow: 0px 0px 8px #333;
	background-color: #fefefe;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}